<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Author statistics</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="~{fragments::menu}"></div>

<h2>About</h2>
How to use this application:
<ul>
    <li>Download the files and follow the readme steps for compile and run the application:
        <a href="https://github.com/aclblaj/myquiz" target="_blank"> https://github.com/aclblaj/myquiz </a>
    </li>
    <li>Open the application in your browser: <a href="http://localhost:8080" target="_blank"> http://localhost:8080 </a></li>
    <li>Upload a file with questions using the upload menu entry. The uploaded file has to respect the template.</li>
    <ul>
    <li>Template 2023:<br/> <img src="images/template2023.png" alt="Template2023"></li>
    <li>Template 2024:<br/> <img src="images/template2024.png" alt="Template2024"></li>
    </ul>
    <li>Check the results by accessing the authors section</li>
    <li>Use errors menu to see all the errors, for all the authors</li>
    <li>Use Delete all menu to delete the database content</li>
</ul>

<p> Runtime JDK version: <span th:text="${version}"></span>
</p>
</body>
</html>