<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Author statistics</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="~{fragments::menu}"></div>

<h2>Authors</h2>

<table class="styled-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Link</th>
        <th>Initials</th>
        <th>NumberOfQuestions</th>
        <th>numberOfErrors</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="authorDto : ${authors}" class="data-row">
        <td th:text="${authorDto.id}"></td>
        <td th:text="${authorDto.name}"></td>
        <td>
            <!--            <a th:href="@{/author/questions/{id}(id=${authorDto.id})}">Questions</a>-->
            <a th:href="@{'/questions/author/' + ${authorDto.name}}">view</a>
        </td>
        <td th:text="${authorDto.initials}"></td>
        <td th:text="${authorDto.numberOfQuestions}"></td>
        <td th:text="${authorDto.numberOfErrors}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(authors)}" class="empty-row">
        <td colspan="12">No authors found</td>
    </tr>
    </tbody>
</table>

</body>
</html>