<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="~{fragments::menu}"></div>

<h2>Courses</h2>

<table class="styled-table">
    <thead>
    <tr>
        <th>Ops</th>
        <th>Id</th>
        <th>Course</th>
        <th>Description</th>
        <th>University year</th>
        <th>Semester</th>
        <th>Study year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${courses}" class="data-row">
        <td>
            <a th:href="@{'/courses/' + ${c.id} + '/delete'}">delete</a>
        </td>
        <td th:text="${c.id}"></td>
        <td th:text="${c.course}"></td>
        <td th:text="${c.description}"></td>
        <td th:text="${c.university_year}"></td>
        <td th:text="${c.semester}"></td>
        <td th:text="${c.study_year}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(courses)}" class="empty-row">
        <td colspan="7">No courses found</td>
    </tr>
    </tbody>
</table>



</body>
</html>