<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:fragment="menu" class="menu">
    <a th:href="@{'/authors'}" class="menu-item">Authors</a>
    <a th:href="@{'/errors'}" class="menu-item">Errors</a>
    <a th:href="@{'/uploadform'}" class="menu-item">Upload</a>
    <a th:href="@{'/questions/deleteall'}" class="menu-item">Delete all</a>
    <!--    <a th:href="@{'/authors/' + ${authorDto.name}}" class="menu-item">Authors</a>-->
        <a th:href="@{'/about'}" class="menu-item">About</a>
</div>

</body>
</html>