<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:fragment="menu" class="menu">
    <a th:href="@{'/authors/'}" class="menu-item">Authors</a>
    <a th:href="@{'/errors'}" class="menu-item">Errors</a>
    <a th:href="@{'/courses/'}" class="menu-item">Courses</a>
    <a th:href="@{'/uploadform'}" class="menu-item">Upload</a>
    <a th:href="@{'/questions/deleteall'}" class="menu-item"
       th:onclick="return confirm('Are you sure you want to delete all the database records?')">Delete all</a>
    <a th:href="@{'/about'}" class="menu-item">About</a>
</div>

</body>
</html>