<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Author questions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="~{fragments::menu}"></div>

<h2>Questions loaded</h2>

<p>Author:<B><span th:text="${author.name}"></B></span>  - File: <B></B></p>

<b>Multiple choice questions: </b>

<table class="styled-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Course</th>
        <th>Row</th>
        <th>Title</th>
        <th>Text</th>
        <th>Response 1</th>
        <th>Response 2</th>
        <th>Response 3</th>
        <th>Response 4</th>
        <th>Weight Response 1</th>
        <th>Weight Response 2</th>
        <th>Weight Response 3</th>
        <th>Weight Response 4</th>
        <th>Author Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questionDto : ${questions}" class="data-row">
        <td th:text="${questionDto.id}"></td>
        <td th:text="${questionDto.course}"></td>
        <td th:text="${questionDto.row}"></td>
        <td th:text="${questionDto.title}"></td>
        <td th:text="${questionDto.text}"></td>
        <td th:text="${questionDto.response1}"></td>
        <td th:text="${questionDto.response2}"></td>
        <td th:text="${questionDto.response3}"></td>
        <td th:text="${questionDto.response4}"></td>
        <td th:text="${questionDto.weightResponse1}"></td>
        <td th:text="${questionDto.weightResponse2}"></td>
        <td th:text="${questionDto.weightResponse3}"></td>
        <td th:text="${questionDto.weightResponse4}"></td>
        <td th:text="${questionDto.authorName}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(questions)}" class="empty-row">
        <td colspan="12">No multi choice questions</td>
    </tr>
    </tbody>
</table>
<br>
<b>True false questions: </b>

<table class="styled-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Row</th>
        <th>Text</th>
        <th>Weight TRUE</th>
        <th>Weight FALSE</th>
        <th>Response</th>
        <th>Author Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questionDto : ${questionsTF}" class="data-row">
        <td th:text="${questionDto.id}"></td>
        <td th:text="${questionDto.title}"></td>
        <td th:text="${questionDto.row}"></td>
        <td th:text="${questionDto.text}"></td>
        <td th:text="${questionDto.weightTrue}"></td>
        <td th:text="${questionDto.weightFalse}"></td>
        <td th:text="${questionDto.response1}"></td>
        <td th:text="${questionDto.authorName}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(questionsTF)}" class="empty-row">
        <td colspan="12">No true false questions</td>
    </tr>
    </tbody>
</table>

<h2>Errors</h2>
<table class="styled-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Row</th>
        <th>Description</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="err : ${errors}" class="data-row">
        <td th:text="${err.id}"></td>
        <td th:text="${err.row}"></td>
        <td th:text="${err.description}"></td>
        <td th:text="${err.authorName}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(errors)}" class="empty-row">
        <td colspan="5">No errors</td>
    </tr>
    </tbody>
</table>

</body>
</html>