<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr >
        <td>Cabi</td>
    </tr>
    <tr>
        <td>Numar: 324</td>
    </tr>
    <tr>
        <td>Test info</td>
    </tr>


    <p style="border-left: 3px solid blue;margin: 5px 0px 5px 0px; padding-left: 10px">
        Cabi
        <br>
        Numar: 324
        <br>
        Test info <a href="http://localhost:8080/tables">Link</a>
    </p>
</body>
</html>